In [1]:
import ast
import numpy as np
import pandas as pd
import ast
from scipy.stats import chi2
import pandas as pd

In [2]:

# Buka file CSV dan baca menjadi DataFrame
file_path = 'TA_Azzidny/merged_df.csv'
df = pd.read_csv(file_path)

# Tampilkan DataFrame
df

,schemavsn,publisher,objectId,candid,candidate,prv_candidates,cutoutScience,cutoutTemplate,cutoutDifference,fp_hists
0,3.3,ZTF (www.ztf.caltech.edu),ZTF21aahprho,2266385270315015011,"{'jd': 2460020.8852778, 'fid': 2, 'pid': 22663...","[{'jd': 2459994.9775116, 'fid': 2, 'pid': 2240...",{'fileName': 'candid2266385270315015011_pid226...,{'fileName': 'candid2266385270315015011_ref.fi...,{'fileName': 'candid2266385270315015011_pid226...,NaN
1,3.3,ZTF (www.ztf.caltech.edu),ZTF23aacxjms,2266277750415015008,"{'jd': 2460020.7777546, 'fid': 2, 'pid': 22662...","[{'jd': 2459993.6501042, 'fid': 2, 'pid': 2239...",{'fileName': 'candid2266277750415015008_pid226...,{'fileName': 'candid2266277750415015008_ref.fi...,{'fileName': 'candid2266277750415015008_pid226...,NaN
2,3.3,ZTF (www.ztf.caltech.edu),ZTF18accnlhl,2266222372315015006,"{'jd': 2460020.7223727, 'fid': 1, 'pid': 22662...","[{'jd': 2459993.7821181, 'fid': 2, 'pid': 2239...",{'fileName': 'candid2266222372315015006_pid226...,{'fileName': 'candid2266222372315015006_ref.fi...,{'fileName': 'candid2266222372315015006_pid226...,NaN
3,3.3,ZTF (www.ztf.caltech.edu),ZTF18acwxdcl,2266154152815015000,"{'jd': 2460020.6541551, 'fid': 1, 'pid': 22661...","[{'jd': 2459992.6346875, 'fid': 1, 'pid': 2238...",{'fileName': 'candid2266154152815015000_pid226...,{'fileName': 'candid2266154152815015000_ref.fi...,{'fileName': 'candid2266154152815015000_pid226...,NaN
4,3.3,ZTF (www.ztf.caltech.edu),ZTF18aaijwki,2266491361915015008,"{'jd': 2460020.9913657, 'fid': 1, 'pid': 22664...","[{'jd': 2459993.8863426, 'fid': 1, 'pid': 2239...",{'fileName': 'candid2266491361915015008_pid226...,{'fileName': 'candid2266491361915015008_ref.fi...,{'fileName': 'candid2266491361915015008_pid226...,NaN
...,...,...,...,...,...,...,...,...,...,...
24118,3.3,ZTF (www.ztf.caltech.edu),ZTF20aaigeca,2339427773015015008,"{'jd': 2460093.9277778, 'fid': 1, 'pid': 23394...","[{'jd': 2460063.9291088, 'fid': 1, 'pid': 2309...",{'fileName': 'candid2339427773015015008_pid233...,{'fileName': 'candid2339427773015015008_ref.fi...,{'fileName': 'candid2339427773015015008_pid233...,NaN
24119,3.3,ZTF (www.ztf.caltech.edu),ZTF21acejhxn,2339429105115015035,"{'jd': 2460093.9291088, 'fid': 1, 'pid': 23394...","[{'jd': 2460063.9700694, 'fid': 2, 'pid': 2309...",{'fileName': 'candid2339429105115015035_pid233...,{'fileName': 'candid2339429105115015035_ref.fi...,{'fileName': 'candid2339429105115015035_pid233...,NaN
24120,3.3,ZTF (www.ztf.caltech.edu),ZTF23aagvfcw,2339416184715015007,"{'jd': 2460093.9161806, 'fid': 2, 'pid': 23394...","[{'jd': 2460063.953287, 'fid': 1, 'pid': 23094...",{'fileName': 'candid2339416184715015007_pid233...,{'fileName': 'candid2339416184715015007_ref.fi...,{'fileName': 'candid2339416184715015007_pid233...,NaN
24121,3.3,ZTF (www.ztf.caltech.edu),ZTF18abqexic,2339397152015015020,"{'jd': 2460093.8971528, 'fid': 2, 'pid': 23393...","[{'jd': 2460063.9513657, 'fid': 1, 'pid': 2309...",{'fileName': 'candid2339397152015015020_pid233...,{'fileName': 'candid2339397152015015020_ref.fi...,{'fileName': 'candid2339397152015015020_pid233...,NaN
24122,3.3,ZTF (www.ztf.caltech.edu),ZTF22aadaotz,2339432502015015049,"{'jd': 2460093.9325, 'fid': 1, 'pid': 23394325...","[{'jd': 2460067.8384028, 'fid': 1, 'pid': 2313...",{'fileName': 'candid2339432502015015049_pid233...,{'fileName': 'candid2339432502015015049_ref.fi...,{'fileName': 'candid2339432502015015049_pid233...,NaN

### Ekstraks Kurva Cahaya dari fp_hists (dalam bentuk magnitudo)

In [3]:

# Fungsi untuk mengekstrak data dari fp_hists
def extract_data(prv_candidates):
    prv_data = ast.literal_eval(prv_candidates)
    curve_g = []
    nobs_g = 0
    curve_r = []
    nobs_r = 0
    for item in prv_data:
        if item['fid'] == 1 and item['magpsf'] is not None and item['sigmapsf'] is not None and not np.isnan(item['magpsf']) and not np.isnan(item['sigmapsf']):
            if item['magpsf'] >= 0 and item['sigmapsf'] >= 0:
                curve_g.append([item['jd'], item['magpsf'], item['sigmapsf']])
                nobs_g += 1
        elif item['fid'] == 2 and item['magpsf'] is not None and item['sigmapsf'] is not None and not np.isnan(item['magpsf']) and not np.isnan(item['sigmapsf']):
            if item['magpsf'] >= 0 and item['sigmapsf'] >= 0:
                curve_r.append([item['jd'], item['magpsf'], item['sigmapsf']])
                nobs_r += 1
    return curve_g, nobs_g, curve_r, nobs_r

# Buat kolom baru dan isi dengan data yang diekstrak
df['curve_g'], df['nobs_g'], df['curve_r'], df['nobs_r'] = zip(*df['prv_candidates'].apply(extract_data))

# Tampilkan DataFrame hasil
df[['objectId', 'curve_g', 'nobs_g', 'curve_g', 'nobs_g']]

,objectId,curve_g,nobs_g,curve_g,nobs_g
0,ZTF21aahprho,"[[2459994.9891782, 19.935400009155273, 0.19646...",2,"[[2459994.9891782, 19.935400009155273, 0.19646...",2
1,ZTF23aacxjms,"[[2460013.7590509, 19.681499481201172, 0.20913...",2,"[[2460013.7590509, 19.681499481201172, 0.20913...",2
2,ZTF18accnlhl,"[[2459993.8910185, 18.244600296020508, 0.13254...",1,"[[2459993.8910185, 18.244600296020508, 0.13254...",1
3,ZTF18acwxdcl,"[[2459992.6346875, 18.253700256347656, 0.10123...",1,"[[2459992.6346875, 18.253700256347656, 0.10123...",1
4,ZTF18aaijwki,"[[2459993.8863426, 18.43560028076172, 0.209867...",6,"[[2459993.8863426, 18.43560028076172, 0.209867...",6
...,...,...,...,...,...
24118,ZTF20aaigeca,"[[2460063.9291088, 20.18560028076172, 0.156972...",16,"[[2460063.9291088, 20.18560028076172, 0.156972...",16
24119,ZTF21acejhxn,"[[2460065.9498958, 19.545700073242188, 0.18492...",15,"[[2460065.9498958, 19.545700073242188, 0.18492...",15
24120,ZTF23aagvfcw,"[[2460091.9029167, 19.653799057006836, 0.14962...",1,"[[2460091.9029167, 19.653799057006836, 0.14962...",1
24121,ZTF18abqexic,"[[2460075.9596991, 18.94659996032715, 0.134375...",3,"[[2460075.9596991, 18.94659996032715, 0.134375...",3
24122,ZTF22aadaotz,"[[2460076.894375, 20.64620018005371, 0.2409220...",3,"[[2460076.894375, 20.64620018005371, 0.2409220...",3

In [4]:
data_curve = df[['objectId', 'curve_g', 'nobs_g', 'curve_r', 'nobs_r']]

### Manyatukan Data dengan ObjectId sama

In [5]:
def parse_or_return(data):
    if isinstance(data, str):
        return ast.literal_eval(data)
    return data
    
def merge_curves(curves):
    merged = {}
    for curve in curves:
        for jd, magpsf, sigmapsf in curve:
            if jd not in merged or magpsf > merged[jd][0]:
                merged[jd] = (magpsf, sigmapsf)
    return [[jd, magpsf, sigmapsf] for jd, (magpsf, sigmapsf) in merged.items()]

def merge_duplicate_rows(group):
    objectId = group.name
    curve_g_combined = []
    curve_r_combined = []
    for _, row in group.iterrows():
        curve_g_combined.extend(parse_or_return(row['curve_g']))
        curve_r_combined.extend(parse_or_return(row['curve_r']))
    
    merged_curve_g = merge_curves([curve_g_combined])
    merged_curve_r = merge_curves([curve_r_combined])
    
    return pd.Series({
        'objectId': objectId,
        'curve_g': merged_curve_g,
        'nobs_g': len(merged_curve_g),
        'curve_r': merged_curve_r,
        'nobs_r': len(merged_curve_r)
    })

In [6]:
merged_data = data_curve.groupby('objectId').apply(merge_duplicate_rows).reset_index(drop=True)
merged_data

/tmp/ipykernel_3919177/1540830179.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  merged_data = data_curve.groupby('objectId').apply(merge_duplicate_rows).reset_index(drop=True)

,objectId,curve_g,nobs_g,curve_r,nobs_r
0,ZTF17aaaaaui,"[[2459795.8196065, 16.679000854492188, 0.05466...",22,"[[2459801.8446065, 14.444999694824219, 0.05106...",4
1,ZTF17aaaaaxa,[],0,"[[2459908.6598264, 18.923500061035156, 0.13368...",2
2,ZTF17aaaabel,"[[2460200.9892245, 19.595800399780273, 0.11127...",4,"[[2460196.9008102, 18.667800903320312, 0.14132...",3
3,ZTF17aaaafbf,"[[2459809.8596644, 19.65180015563965, 0.162891...",1,"[[2459809.7853125, 19.028799057006836, 0.14571...",2
4,ZTF17aaaapyu,"[[2460191.9334491, 19.571699142456055, 0.22284...",32,"[[2460116.9664005, 17.83370018005371, 0.134255...",53
...,...,...,...,...,...
10450,ZTF24aadshgt,[],0,"[[2460326.9193403, 20.428199768066406, 0.34028...",2
10451,ZTF24aaeafen,"[[2460326.7543403, 20.42569923400879, 0.290028...",3,"[[2460326.7508333, 20.59939956665039, 0.270018...",3
10452,ZTF24aaealju,"[[2460340.7059259, 20.370399475097656, 0.27182...",2,"[[2460339.7407407, 20.030099868774414, 0.22964...",1
10453,ZTF24aaealsq,"[[2460326.7744329, 20.5, 0.31050199270248413]]",1,"[[2460339.7412037, 20.111499786376953, 0.19662...",1
10454,ZTF24aaednmo,"[[2460327.9858565, 20.310199737548828, 0.25709...",1,"[[2460322.9190509, 20.188800811767578, 0.26659...",2

In [2]:
merged_data = pd.read_csv('TA_Azzidny/DATA/MERGED_DATA_UTAMA.csv')

### Konversi Magnitudo menjadi Fluks
#### menggunakan nilai fluks referensi 3631 Jy

In [7]:
import numpy as np

# Fungsi untuk mengubah magnitudo ke flux dengan F0
def magnitude_to_flux(magnitudes, f0=3631):
    """
    Mengonversi magnitudo menjadi flux dengan menggunakan F0.

    Parameter:
    magnitudes (numpy array): Array magnitudo
    f0 (float): Flux referensi, default 3631 Jy

    Returns:
    numpy array: Array flux
    """
    return f0 * 10**(-0.4 * magnitudes)

# Fungsi untuk mengubah ketidakpastian magnitudo ke ketidakpastian flux dengan F0
def magnitude_uncertainty_to_flux_uncertainty(magnitudes, uncertainties, f0=3631):
    """
    Mengonversi ketidakpastian magnitudo menjadi ketidakpastian flux dengan menggunakan F0.

    Parameter:
    magnitudes (numpy array): Array magnitudo
    uncertainties (numpy array): Array ketidakpastian magnitudo
    f0 (float): Flux referensi, default 3631 Jy

    Returns:
    numpy array: Array ketidakpastian flux
    """
    fluxes = magnitude_to_flux(magnitudes, f0)
    return np.abs(0.4 * np.log(10) * fluxes * uncertainties)

# Fungsi untuk memproses curve dan menggantikan item[1] dan item[2] dengan flux dan flux_uncertainty
def process_and_replace_curve(curve, f0=3631):
    """
    Memproses curve dan menggantikan item[1] dan item[2] dengan flux dan flux_uncertainty.

    Parameter:
    curve (list of tuples): Daftar tuple dengan format (waktu, magnitudo, ketidakpastian)
    f0 (float): Flux referensi, default 3631 Jy

    Returns:
    list of tuples: Daftar tuple dengan format (waktu, flux, ketidakpastian flux)
    """
    magnitudes = np.array([item[1] for item in curve])
    uncertainties = np.array([item[2] for item in curve])
    fluxes = magnitude_to_flux(magnitudes, f0)
    flux_uncertainties = magnitude_uncertainty_to_flux_uncertainty(magnitudes, uncertainties, f0)
    new_curve = [(item[0], flux, flux_unc) for item, flux, flux_unc in zip(curve, fluxes, flux_uncertainties)]
    return new_curve

In [8]:
# Mengganti item[1] dan item[2] dalam curve_g
merged_data['curve_g'] = merged_data['curve_g'].apply(process_and_replace_curve)

# Mengganti item[1] dan item[2] dalam curve_r
merged_data['curve_r'] = merged_data['curve_r'].apply(process_and_replace_curve)
merged_data

,objectId,curve_g,nobs_g,curve_r,nobs_r
0,ZTF17aaaaaui,"[(2459795.8196065, 0.0007734387148748412, 3.89...",22,"[(2459801.8446065, 0.006053776330351666, 0.000...",4
1,ZTF17aaaaaxa,[],0,"[(2459908.6598264, 9.786473501125291e-05, 1.20...",2
2,ZTF17aaaabel,"[(2460200.9892245, 5.2687317664062934e-05, 5.3...",4,"[(2460196.9008102, 0.00012385281661099056, 1.6...",3
3,ZTF17aaaafbf,"[(2459809.8596644, 5.003871940423215e-05, 7.50...",1,"[(2459809.7853125, 8.881915275160769e-05, 1.19...",2
4,ZTF17aaaapyu,"[(2460191.9334491, 5.386995241625691e-05, 1.10...",32,"[(2460116.9664005, 0.00026702146658731896, 3.3...",53
...,...,...,...,...,...
10450,ZTF24aadshgt,[],0,"[(2460326.9193403, 2.4476332354925547e-05, 7.6...",2
10451,ZTF24aaeafen,"[(2460326.7543403, 2.4532768195581076e-05, 6.5...",3,"[(2460326.7508333, 2.090578223481408e-05, 5.19...",3
10452,ZTF24aaealju,"[(2460340.7059259, 2.5814662940122595e-05, 6.4...",2,"[(2460339.7407407, 3.531720297987824e-05, 7.46...",1
10453,ZTF24aaealsq,"[(2460326.7744329, 2.2910061178075758e-05, 6.5...",1,"[(2460339.7412037, 3.2766219357135975e-05, 5.9...",1
10454,ZTF24aaednmo,"[(2460327.9858565, 2.7286407073956726e-05, 6.4...",1,"[(2460322.9190509, 3.0514476536182784e-05, 7.4...",2

### Menghitung P-value dari uji statistik $\chi^2$

In [13]:
def parse_curve_data(curve_str):
    # Check if the input is already a list
    if isinstance(curve_str, list):
        return curve_str
    # Try to safely evaluate the string
    try:
        return ast.literal_eval(curve_str)
    except (ValueError, SyntaxError):
        raise ValueError(f"Unable to parse curve data: {curve_str}")

def calculate_p_value_with_nobs(flux, flux_err, nobs):
    """
    Calculate the p-value for the given flux and flux uncertainties using chi-squared distribution,
    taking into account the number of observations (nobs).
    
    Parameters:
    flux (array-like): Array of flux values.
    flux_err (array-like): Array of flux uncertainties.
    nobs (int): Number of observations.
    
    Returns:
    float: The p-value.
    """
    # Check if there are enough observations
    if nobs <= 1:
        return np.nan
    
    # Number of observations
    n = nobs
    
    # Calculate the weighted mean of the flux values
    weights = 1 / np.square(flux_err)
    weighted_mean_flux = np.sum(flux * weights) / np.sum(weights)
    
    # Calculate the chi-squared value using the provided equation
    chi_squared = (1 / (n - 1)) * np.sum(((flux - weighted_mean_flux)**2) / np.square(flux_err))
    
    # Calculate the p-value from the chi-squared distribution with (n - 1) degrees of freedom
    p_value = chi2.sf(chi_squared * (n - 1), df=(n - 1))
    
    return p_value

def apply_p_value_calculation_with_nobs(filtered_df):
    """
    Apply p-value calculation to each row in the DataFrame for both 'g' and 'r' bands,
    using the 'nobs_g' and 'nobs_r' columns for the number of observations.
    
    Parameters:
    filtered_df (DataFrame): The input DataFrame containing 'curve_g', 'nobs_g', 'curve_r', and 'nobs_r'.
    
    Returns:
    DataFrame: The DataFrame with additional columns for p-values for 'g' and 'r' bands.
    """
    p_values_g = []
    p_values_r = []
    
    for index, row in filtered_df.iterrows():
        curve_g_str = row['curve_g']
        curve_r_str = row['curve_r']
        nobs_g = row['nobs_g']
        nobs_r = row['nobs_r']
        
        # Parse curve data
        curve_g = parse_curve_data(curve_g_str)
        curve_r = parse_curve_data(curve_r_str)
        
        # Extract flux and flux uncertainties for 'g' band
        flux_g = np.array([item[1] for item in curve_g])
        fluxunc_g = np.array([item[2] for item in curve_g])
        
        # Extract flux and flux uncertainties for 'r' band
        flux_r = np.array([item[1] for item in curve_r])
        fluxunc_r = np.array([item[2] for item in curve_r])
        
        # Calculate p-values
        p_value_g = calculate_p_value_with_nobs(flux_g, fluxunc_g, nobs_g) if len(flux_g) > 0 else np.nan
        p_value_r = calculate_p_value_with_nobs(flux_r, fluxunc_r, nobs_r) if len(flux_r) > 0 else np.nan
        
        p_values_g.append(p_value_g)
        p_values_r.append(p_value_r)
    
    # Add p-values to the DataFrame
    filtered_df['p_value_g'] = p_values_g
    filtered_df['p_value_r'] = p_values_r
    
    return filtered_df

In [14]:
# Assuming merged_data is defined elsewhere and is a valid DataFrame
merged_data = apply_p_value_calculation_with_nobs(merged_data)
merged_data

,objectId,curve_g,nobs_g,curve_r,nobs_r,p_value_g,p_value_r
0,ZTF17aaaaaui,"[(2459795.8196065, 0.0007734387148748412, 3.89...",22,"[(2459801.8446065, 0.006053776330351666, 0.000...",4,3.819143e-71,0.000000
1,ZTF17aaaaaxa,[],0,"[(2459908.6598264, 9.786473501125291e-05, 1.20...",2,NaN,0.073969
2,ZTF17aaaabel,"[(2460200.9892245, 5.2687317664062934e-05, 5.3...",4,"[(2460196.9008102, 0.00012385281661099056, 1.6...",3,4.164830e-01,0.496625
3,ZTF17aaaafbf,"[(2459809.8596644, 5.003871940423215e-05, 7.50...",1,"[(2459809.7853125, 8.881915275160769e-05, 1.19...",2,NaN,0.951485
4,ZTF17aaaapyu,"[(2460191.9334491, 5.386995241625691e-05, 1.10...",32,"[(2460116.9664005, 0.00026702146658731896, 3.3...",53,1.071915e-08,0.000000
...,...,...,...,...,...,...,...
10450,ZTF24aadshgt,[],0,"[(2460326.9193403, 2.4476332354925547e-05, 7.6...",2,NaN,0.000014
10451,ZTF24aaeafen,"[(2460326.7543403, 2.4532768195581076e-05, 6.5...",3,"[(2460326.7508333, 2.090578223481408e-05, 5.19...",3,3.297422e-03,0.032927
10452,ZTF24aaealju,"[(2460340.7059259, 2.5814662940122595e-05, 6.4...",2,"[(2460339.7407407, 3.531720297987824e-05, 7.46...",1,6.373457e-01,NaN
10453,ZTF24aaealsq,"[(2460326.7744329, 2.2910061178075758e-05, 6.5...",1,"[(2460339.7412037, 3.2766219357135975e-05, 5.9...",1,NaN,NaN
10454,ZTF24aaednmo,"[(2460327.9858565, 2.7286407073956726e-05, 6.4...",1,"[(2460322.9190509, 3.0514476536182784e-05, 7.4...",2,NaN,0.947090

In [15]:
merged_data.to_csv('TA_Azzidny/DATA/DATAwithPVAL_0_0.csv',index=False)

In [4]:
merged_data = pd.read_csv('TA_Azzidny/DATA/2. DATA_Pval/DATAwithPVAL_0_0.csv')
merged_data

,objectId,curve_g,nobs_g,curve_r,nobs_r,p_value_g,p_value_r
0,ZTF17aaaaaui,"[(2459795.8196065, 0.0007734387148748412, 3.89...",22,"[(2459801.8446065, 0.006053776330351666, 0.000...",4,3.819143e-71,0.000000
1,ZTF17aaaaaxa,[],0,"[(2459908.6598264, 9.786473501125291e-05, 1.20...",2,NaN,0.073969
2,ZTF17aaaabel,"[(2460200.9892245, 5.2687317664062934e-05, 5.3...",4,"[(2460196.9008102, 0.00012385281661099056, 1.6...",3,4.164830e-01,0.496625
3,ZTF17aaaafbf,"[(2459809.8596644, 5.003871940423215e-05, 7.50...",1,"[(2459809.7853125, 8.881915275160769e-05, 1.19...",2,NaN,0.951485
4,ZTF17aaaapyu,"[(2460191.9334491, 5.386995241625691e-05, 1.10...",32,"[(2460116.9664005, 0.00026702146658731896, 3.3...",53,1.071915e-08,0.000000
...,...,...,...,...,...,...,...
10450,ZTF24aadshgt,[],0,"[(2460326.9193403, 2.4476332354925547e-05, 7.6...",2,NaN,0.000014
10451,ZTF24aaeafen,"[(2460326.7543403, 2.4532768195581076e-05, 6.5...",3,"[(2460326.7508333, 2.090578223481408e-05, 5.19...",3,3.297422e-03,0.032927
10452,ZTF24aaealju,"[(2460340.7059259, 2.5814662940122595e-05, 6.4...",2,"[(2460339.7407407, 3.531720297987824e-05, 7.46...",1,6.373457e-01,NaN
10453,ZTF24aaealsq,"[(2460326.7744329, 2.2910061178075758e-05, 6.5...",1,"[(2460339.7412037, 3.2766219357135975e-05, 5.9...",1,NaN,NaN
10454,ZTF24aaednmo,"[(2460327.9858565, 2.7286407073956726e-05, 6.4...",1,"[(2460322.9190509, 3.0514476536182784e-05, 7.4...",2,NaN,0.947090

In [16]:
filtered = merged_data[(merged_data['nobs_g'] >= 1) & (merged_data['nobs_r'] >= 1)]
filtered = filtered.reset_index(drop=True)
len(filtered)

8939

In [17]:
filtered_df = merged_data[(merged_data['nobs_g'] >= 4) & (merged_data['nobs_r'] >= 4)]
filtered_df = filtered_df.reset_index(drop=True)
len(filtered_df)

5434

In [7]:
data_g = merged_data[(merged_data['nobs_g'] >= 1) & (merged_data['nobs_r'] >= 0)]
data_g = data_g.reset_index(drop=True)
data_g = data_g[['objectId', 'curve_g', 'nobs_g','p_value_g']]
data_g

,objectId,curve_g,nobs_g,p_value_g
0,ZTF17aaaaaui,"[(2459795.8196065, 0.0007734387148748412, 3.89...",22,3.819143e-71
1,ZTF17aaaabel,"[(2460200.9892245, 5.2687317664062934e-05, 5.3...",4,4.164830e-01
2,ZTF17aaaafbf,"[(2459809.8596644, 5.003871940423215e-05, 7.50...",1,NaN
3,ZTF17aaaapyu,"[(2460191.9334491, 5.386995241625691e-05, 1.10...",32,1.071915e-08
4,ZTF17aaabsnn,"[(2459913.8423958, 0.00011038393899505214, 1.3...",3,2.676710e-11
...,...,...,...,...
9678,ZTF24aadryxf,"[(2460339.8591204, 7.330715000671897e-05, 1.04...",2,2.311017e-01
9679,ZTF24aaeafen,"[(2460326.7543403, 2.4532768195581076e-05, 6.5...",3,3.297422e-03
9680,ZTF24aaealju,"[(2460340.7059259, 2.5814662940122595e-05, 6.4...",2,6.373457e-01
9681,ZTF24aaealsq,"[(2460326.7744329, 2.2910061178075758e-05, 6.5...",1,NaN
9682,ZTF24aaednmo,"[(2460327.9858565, 2.7286407073956726e-05, 6.4...",1,NaN

In [8]:
data_r = merged_data[(merged_data['nobs_r'] >= 1)& (merged_data['nobs_g'] >= 0)]
data_r = data_r.reset_index(drop=True)
data_r = data_r[['objectId', 'curve_r', 'nobs_r','p_value_r']]
data_r

,objectId,curve_r,nobs_r,p_value_r
0,ZTF17aaaaaui,"[(2459801.8446065, 0.006053776330351666, 0.000...",4,0.000000
1,ZTF17aaaaaxa,"[(2459908.6598264, 9.786473501125291e-05, 1.20...",2,0.073969
2,ZTF17aaaabel,"[(2460196.9008102, 0.00012385281661099056, 1.6...",3,0.496625
3,ZTF17aaaafbf,"[(2459809.7853125, 8.881915275160769e-05, 1.19...",2,0.951485
4,ZTF17aaaapyu,"[(2460116.9664005, 0.00026702146658731896, 3.3...",53,0.000000
...,...,...,...,...
9706,ZTF24aadshgt,"[(2460326.9193403, 2.4476332354925547e-05, 7.6...",2,0.000014
9707,ZTF24aaeafen,"[(2460326.7508333, 2.090578223481408e-05, 5.19...",3,0.032927
9708,ZTF24aaealju,"[(2460339.7407407, 3.531720297987824e-05, 7.46...",1,NaN
9709,ZTF24aaealsq,"[(2460339.7412037, 3.2766219357135975e-05, 5.9...",1,NaN
9710,ZTF24aaednmo,"[(2460322.9190509, 3.0514476536182784e-05, 7.4...",2,0.947090

### SAVE DATA

In [22]:
filtered.to_csv('TA_Azzidny/DATA/DATAwithPVAL_1_1.csv',index=False)

In [9]:
data_g.to_csv('TA_Azzidny/DATA/2. DATA_Pval/DATAwithPVAL_G.csv',index=False)

In [10]:
data_r.to_csv('TA_Azzidny/DATA/2. DATA_Pval/DATAwithPVAL_R.csv',index=False)